# Python
__pycache__/
*.py[cod]
*.so

# Environments
.env
.venv/
venv/
*.egg-info/
*.egg

# Data / Outputs
*.png
*.jpg
*.jpeg
*.gif
*.tif
*.tiff
*.bmp
samples*/
outputs*/
logs*/
sout*/
soutgen*/
*.csv


# Checkpoints
*.ckpt
*.pt
*.pth

# System
.DS_Store
Thumbs.db

#pycase
~/dmr-latent-diffusion/taming/modules/vqvae/__pycache__/*

#image upscale
taming-transformers/
